/* #contact {
    background-color: rgba(32, 48, 104, 0.1);
  } */
  .w-95 {
    width: 95%;
  }

  .bg-BABYyellow {
    background-color: #E8C872;
  }

  .bg-BABYbluee {
    background-color: #C9D7DD;
  }

  .bg-BABYpink {
    background-color: #FFF3CF;
  }